@import "normalize.css";

@font-face {
  font-family: "Rubik";
  src:
    url("../fonts/RubikRegular.woff2") format("woff2"),
    url("../fonts/RubikRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:
    url("../fonts/RubikBold.woff2") format("woff2"),
    url("../fonts/RubikBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --white: hsl(0 100% 100%);
  --blue: hsl(216 96% 61%);
  --light-blue: hsl(216 100% 87%);
  --yellow: hsl(44 85% 69%);
  --black: hsl(0 0% 0%);
  --gray: hsl(0 0% 50.2%);
}

body {
  font-family: "Rubik", var(--system-ui);
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-rows: 1fr 4fr;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-areas:
    "sidebar header header"
    "sidebar main   main";
}

/* AVATAR STYLING */

.avatar {
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60px;
}

.avatar > img {
  width: 100%;
}

/* HEADER STYLING */

.header {
  background-color: var(--white);
  grid-area: header;
  display: grid;

  & .header-first-row,
  .header-second-row {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 2em;
  }
}

.header-first-row {
  & .search-bar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr;
    align-items: center;

    & > label {
      margin-left: auto;
      padding: 0 1rem;
    }

    & > input {
      justify-self: right;
      width: 100%;
      background-color: var(--light-blue);
      border: none;
      border-radius: 1rem;
      padding: 0.3em 1em;
      outline: none;
    }
  }

  & .user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    padding: 0 1em;

    & > p {
      font-weight: bold;
      padding: 1em;
    }
  }
}

.header-second-row {
  & .user-greeting {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 1em;

    & > div:nth-child(1) {
      margin-left: auto;
    }
  }

  & .user-projects-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    align-items: center;
    padding-right: 2em;

    & > button {
      background-color: var(--blue);
      padding: 0.5em 1em;
      border: none;
      border-radius: 1em;
      color: var(--white);
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.sidebar {
  background-color: var(--blue);
  grid-area: sidebar;
}

/* MAIN CONTENT STYLING */

.main {
  background-color: var(--light-blue);
  grid-area: main;
  display: grid;
  grid-template-columns: 2.5fr 1fr;

  & .projects-list {
    display: grid;
    gap: 1em;
    padding: 1.5em;

    & .project-cards {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      & > .cards {
        background-color: var(--white);
        border-left: solid 0.5em var(--yellow);
        border-radius: 0.5em;
        display: grid;
        grid-template-rows: 2fr 0.5fr;

        & p {
          color: var(--gray);
          font-size: 0.9em;
        }

        & > div:first-child {
          padding: 1.5em;
        }

        & > div:nth-child(2) {
          display: flex;
          gap: 2em;
          justify-content: end;
          padding: 1em;

          & > img {
            display: inline-block;
            cursor: pointer;
          }
        }
      }
    }
  }
  & .side-content {
    display: grid;
    gap: 1em;
    padding: 1.5em;
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));

    & .announcements {
      & > h4 {
        padding-bottom: 1em;
      }

      & .announcements-list > div {
        padding: 1em;
        background-color: var(--white);
        border-bottom: solid 0.1em var(--gray);
      }

      & .announcements-list > div > h6 {
        padding-bottom: 0.3em;
      }

      & .announcements-list > div > p {
        padding-bottom: 1em;
        color: var(--gray);
        font-size: 0.8em;
      }

      & .announcements-list > div:first-child {
        border-radius: 0.5em 0.5em 0 0;
      }
      & .announcements-list > div:last-child {
        border-radius: 0 0 0.5em 0.5em;
        border-bottom: none;
      }
    }

    & .trending {
      & > h4 {
        padding-bottom: 1em;
      }
      & > div {
        background-color: var(--white);
        padding: 1em;
        border-radius: 0.5em;

        & > .profiles {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 0.5em;
          padding: 0.5em;
          align-items: center;

          & > .profile-info > p:first-child {
            font-size: 0.8em;
          }

          & > .profile-info > p:last-child {
            color: var(--gray);
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
