@import "normalize.css";

@font-face {
  font-family: "Rubik";
  src:
    url("../fonts/RubikRegular.woff2") format("woff2"),
    url("../fonts/RubikRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:
    url("../fonts/RubikBold.woff2") format("woff2"),
    url("../fonts/RubikBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --white: hsl(0 100% 100%);
  --blue: hsl(216 96% 61%);
  --light-blue: hsl(216 100% 87%);
  --yellow: hsl(44 85% 69%);
  --black: hsl(0 0% 0%);
}

body {
  font-family: "Rubik", var(--system-ui);
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-rows: 1fr 4fr;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-areas:
    "sidebar header header"
    "sidebar main   main";
}

/* HEADER STYLING */

.header {
  background-color: var(--white);
  grid-area: header;
  display: grid;

  & .header-first-row,
  .header-second-row {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 2em;
  }

  & .avatar {
    background-color: var(--yellow);
    padding: 0.5em;
    border-radius: 50%;
  }
}

.header-first-row {
  & .search-bar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;

    & > label {
      margin-left: auto;
      padding: 0 1rem;
    }

    & > input {
      justify-self: right;
      width: 100%;
      background-color: var(--light-blue);
      border: none;
      border-radius: 1rem;
      padding: 0.3em 1em;
      outline: none;
    }
  }

  & .user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: end;
    padding: 0 1em;

    & > p {
      font-weight: bold;
      padding: 1em;
    }
  }
}

.header-second-row {
  & .user-greeting {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 1em;

    & > div:nth-child(1) {
      margin-left: auto;
    }
  }

  & .user-projects-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    align-items: center;
    padding-right: 2em;

    & > button {
      background-color: var(--blue);
      padding: 0.5em 1em;
      border: none;
      border-radius: 1em;
      color: var(--white);
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.sidebar {
  background-color: var(--blue);
  grid-area: sidebar;
}

.main {
  background-color: var(--light-blue);
  grid-area: main;
}
